.sw-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  &_static {
    background: rgba(0, 0, 0, 0.5) url('../images/sw_bg_1.jpg') no-repeat center !important;
    background-size: cover;
  }
  &__fluid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
  }
  &__sub-title {
    display: block;
    margin-bottom: 34px;
    color: #ffffff;
    opacity: 0.9;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
  }
  &__title {
    display: block;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.sw-header {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block !important;
    max-width: 100%;
    color: #ffffff;
    img {
      display: block !important;
      margin-bottom: 8px;
    }
    p {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 8px;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2.7px;
    }
  }
  &__info {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    p {
      display: block;
      margin-bottom: 2px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &__number {
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.sw-why {
  display: block;
  padding: 90px 0 50px 0;
  &__title {
    display: block;
    max-width: 885px;
    margin: 0 auto 95px auto;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px 40px 5px;
    flex: 0 1 265px;
    text-align: center;
    img {
      display: block;
      width: 70px;
      height: 70px;
      margin-bottom: 25px;
      object-fit: contain;
    }
    span {
      display: block;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

.sw-how {
  display: block;
  padding: 120px 0;
  background: url('../images/sw_bg_2.jpg') no-repeat center top;
  background-size: cover;
  &__block {
    display: block;
    padding: 90px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    p {
      display: block;
      max-width: 530px;
      margin: 0;
    }
  }
}

.sw-step {
  display: block;
  position: relative;
  padding: 90px 0 120px 0;
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(2, 44, 71, 0.27) 0%, rgba(4, 169, 254, 0.27) 100%);
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 926px;
    height: 212px;
    bottom: 0;
    left: 50%;
    margin-left: -463px;
    background: url('../images/sw_bg_3.png') no-repeat center bottom;
    background-size: cover;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #6acdff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  &__info {
    display: block;
    max-width: 450px;
    margin: 0 auto 26px auto;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 1px;
      height: 85%;
      top: 35px;
      left: 50%;
      background-color: #5bb4e2;
    }
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 190px;
    margin-bottom: 22px;
    z-index: 1;
    img {
      display: block;
      margin: 0 auto;
    }
    &_after_1 {
      &:after {
        display: block;
        position: absolute;
        content: 'Мы сами согласуем локацию запуска';
        width: 150px;
        left: 100%;
        top: 17%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    &_after_3 {
      &:after {
        display: block;
        position: absolute;
        content: 'Мы сами согласуем с авиадиспетчерами';
        width: 150px;
        left: 100%;
        top: 17%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    &_after_5 {
      &:after {
        display: block;
        position: absolute;
        content: 'Вы сможете наблюдать в прямом эфире';
        width: 173px;
        left: 100%;
        top: 29%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    &_after_7 {
      &:after {
        display: block;
        position: absolute;
        content: 'Вы получите видеозапись на память';
        width: 265px;
        left: 100%;
        top: 42%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    &_before_2 {
      &:after {
        display: block;
        position: absolute;
        content: 'Мы сами согласуем с военными и спецслужбами';
        width: 213px;
        right: 100%;
        top: 23%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: right;
      }
    }
    &_before_4 {
      &:after {
        display: block;
        position: absolute;
        content: 'Мы заедем за вами и направимся за 150 км от Москвы';
        width: 244px;
        right: 100%;
        top: 31%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: right;
      }
    }
    &_before_6 {
      &:after {
        display: block;
        position: absolute;
        content: 'Это будет ваше личное событие';
        width: 240px;
        right: 100%;
        top: 41%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: right;
      }
    }
  }
}

.sw-about {
  display: block;
  position: relative;
  padding: 95px 0 60px 0;
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    height: 18px;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    background: url('../images/icon_more.png') no-repeat center;
    background-size: contain;
  }
  &__title {
    display: block;
    max-width: 712px;
    margin: 0 auto 35px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
  }
  p {
    display: block;
    max-width: 630px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.sw-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #111821;
  &__fluid {
    display: block;
    width: 100%;
    z-index: 9;
  }
  &__title {
    display: block;
    max-width: 790px;
    margin: 0 auto 20px auto;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
  }
  &__about {
    display: block;
    margin: 0 auto 40px auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  form {
    display: block;
    width: 100%;
    max-width: 490px;
    margin: 0 auto;
    z-index: 1;
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 9px;
      padding: 22px 38px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      background-color: rgba(246, 246, 246, 0.05);
      outline: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:focus {
        border-color: rgba(8, 200, 255, 0.43);
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 22px 38px;
      border: none;
      border-radius: 10px;
      background-color: #08c8ff;
      outline: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffffff;
        color: #08c8ff;
      }
    }
  }
}

.sw-footer {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 40px 0;
  z-index: 0;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block !important;
    max-width: 100%;
    color: #ffffff;
    img {
      display: block !important;
      margin-bottom: 8px;
    }
    p {
      display: block;
      margin: 0 0 16px 0;
      color: #ffffff;
      font-size: 8px;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2.7px;
    }
  }
  &__copyright {
    display: block;
    margin: 0;
    color: #fffefe;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  &__social {
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 2px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    p {
      display: block;
      margin-bottom: 2px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &__number {
    display: block;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
  }
  &__link {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.sw-thx {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    padding: 10px;
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}

.sw-scroll {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 30px;
  height: 43px;
  margin-left: -15px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  z-index: 10;
  img {
    display: block !important;
    width: 100%;
    height: 100%;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
    transform: translateY(20px);
  }
}

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1;
}

#stars {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 207px 927px #FFF, 414px 1123px #FFF, 520px 732px #FFF, 1445px 1704px #FFF, 1761px 486px #FFF, 1089px 294px #FFF, 31px 1053px #FFF, 1812px 241px #FFF, 349px 297px #FFF, 620px 642px #FFF, 28px 587px #FFF, 1621px 675px #FFF, 536px 1879px #FFF, 1686px 1553px #FFF, 1238px 1215px #FFF, 1024px 749px #FFF, 161px 691px #FFF, 28px 1239px #FFF, 238px 34px #FFF, 1929px 1496px #FFF, 401px 47px #FFF, 168px 567px #FFF, 885px 1119px #FFF, 1224px 1072px #FFF, 1474px 475px #FFF, 754px 1263px #FFF, 306px 980px #FFF, 669px 17px #FFF, 1138px 1879px #FFF, 1515px 1790px #FFF, 1062px 385px #FFF, 1031px 597px #FFF, 1388px 570px #FFF, 570px 1827px #FFF, 1987px 1736px #FFF, 1879px 543px #FFF, 1272px 425px #FFF, 765px 240px #FFF, 832px 1758px #FFF, 920px 845px #FFF, 901px 1632px #FFF, 1150px 1686px #FFF, 641px 505px #FFF, 1187px 314px #FFF, 418px 1487px #FFF, 1057px 549px #FFF, 615px 1px #FFF, 340px 1143px #FFF, 310px 1458px #FFF, 299px 625px #FFF, 999px 1307px #FFF, 1804px 1789px #FFF, 791px 213px #FFF, 1221px 1271px #FFF, 1279px 1464px #FFF, 32px 1352px #FFF, 532px 941px #FFF, 841px 543px #FFF, 1465px 890px #FFF, 437px 1296px #FFF, 403px 454px #FFF, 870px 1016px #FFF, 949px 359px #FFF, 566px 703px #FFF, 957px 948px #FFF, 1092px 1977px #FFF, 1704px 1444px #FFF, 1981px 1547px #FFF, 378px 53px #FFF, 1174px 588px #FFF, 15px 207px #FFF, 922px 1005px #FFF, 19px 230px #FFF, 1444px 325px #FFF, 1849px 755px #FFF, 449px 1855px #FFF, 1215px 1658px #FFF, 1262px 1039px #FFF, 419px 1897px #FFF, 652px 842px #FFF, 1331px 825px #FFF, 516px 1781px #FFF, 1401px 1692px #FFF, 840px 47px #FFF, 1187px 509px #FFF, 1822px 717px #FFF, 1490px 500px #FFF, 552px 1590px #FFF, 1439px 1250px #FFF, 484px 576px #FFF, 1107px 436px #FFF, 827px 900px #FFF, 419px 225px #FFF, 254px 366px #FFF, 424px 1054px #FFF, 240px 1042px #FFF, 1298px 96px #FFF, 1483px 1064px #FFF, 258px 1059px #FFF, 902px 1490px #FFF, 156px 1117px #FFF, 840px 1872px #FFF, 510px 1585px #FFF, 1251px 132px #FFF, 1562px 1588px #FFF, 1353px 1383px #FFF, 1050px 1339px #FFF, 1864px 339px #FFF, 1107px 895px #FFF, 193px 1273px #FFF, 1421px 1638px #FFF, 223px 30px #FFF, 637px 1424px #FFF, 1121px 172px #FFF, 1804px 916px #FFF, 1986px 602px #FFF, 1669px 1830px #FFF, 1951px 1889px #FFF, 626px 852px #FFF, 497px 1046px #FFF, 804px 1220px #FFF, 246px 1091px #FFF, 479px 539px #FFF, 1786px 1175px #FFF, 1031px 453px #FFF, 273px 796px #FFF, 1231px 461px #FFF, 684px 379px #FFF, 149px 724px #FFF, 589px 880px #FFF, 1642px 1028px #FFF, 1884px 755px #FFF, 21px 889px #FFF, 5px 882px #FFF, 153px 1004px #FFF, 264px 522px #FFF, 101px 1782px #FFF, 333px 1491px #FFF, 80px 967px #FFF, 1715px 12px #FFF, 78px 1073px #FFF, 1594px 1661px #FFF, 990px 575px #FFF, 360px 1752px #FFF, 713px 26px #FFF, 1008px 371px #FFF, 1437px 1489px #FFF, 179px 1132px #FFF, 396px 1222px #FFF, 192px 205px #FFF, 94px 598px #FFF, 1375px 1994px #FFF, 339px 660px #FFF, 60px 1207px #FFF, 1640px 1327px #FFF, 1774px 1126px #FFF, 482px 92px #FFF, 1346px 326px #FFF, 1708px 1918px #FFF, 337px 199px #FFF, 547px 1865px #FFF, 626px 1924px #FFF, 1087px 1541px #FFF, 1503px 823px #FFF, 1581px 1934px #FFF, 484px 1306px #FFF, 315px 1382px #FFF, 1995px 856px #FFF, 1485px 456px #FFF, 35px 1780px #FFF, 374px 1438px #FFF, 78px 1147px #FFF, 1854px 1706px #FFF, 1370px 119px #FFF, 690px 503px #FFF, 451px 964px #FFF, 519px 1384px #FFF, 109px 946px #FFF, 1824px 1591px #FFF, 1094px 1677px #FFF, 991px 1140px #FFF, 180px 547px #FFF, 1187px 1242px #FFF, 369px 1145px #FFF, 1989px 586px #FFF, 981px 1474px #FFF, 1068px 659px #FFF, 1245px 302px #FFF, 1993px 1783px #FFF, 706px 1516px #FFF, 938px 370px #FFF, 440px 910px #FFF, 1633px 1099px #FFF, 568px 1832px #FFF, 399px 1985px #FFF, 83px 897px #FFF, 1827px 1304px #FFF, 983px 1772px #FFF, 1611px 1900px #FFF, 1329px 323px #FFF, 172px 542px #FFF, 1568px 103px #FFF, 1576px 602px #FFF, 1960px 802px #FFF, 1756px 1535px #FFF, 1937px 471px #FFF, 1878px 1200px #FFF, 901px 226px #FFF, 995px 726px #FFF, 1400px 1452px #FFF, 991px 845px #FFF, 1593px 258px #FFF, 123px 1966px #FFF, 1372px 483px #FFF, 1663px 1772px #FFF, 1279px 1306px #FFF, 439px 842px #FFF, 1774px 225px #FFF, 873px 289px #FFF, 794px 1853px #FFF, 262px 645px #FFF, 598px 577px #FFF, 105px 369px #FFF, 1414px 1480px #FFF, 1444px 1476px #FFF, 1385px 1941px #FFF, 982px 1679px #FFF, 62px 1533px #FFF, 460px 1324px #FFF, 67px 767px #FFF, 1033px 1421px #FFF, 107px 1241px #FFF, 219px 252px #FFF, 1736px 1077px #FFF, 874px 1240px #FFF, 740px 204px #FFF, 777px 345px #FFF, 521px 450px #FFF, 434px 1318px #FFF, 748px 1901px #FFF, 304px 422px #FFF, 1516px 827px #FFF, 262px 829px #FFF, 168px 211px #FFF, 1870px 1125px #FFF, 100px 1117px #FFF, 100px 1228px #FFF, 1082px 1996px #FFF, 684px 443px #FFF, 475px 688px #FFF, 1441px 1271px #FFF, 117px 486px #FFF, 166px 27px #FFF, 52px 1568px #FFF, 1534px 1927px #FFF, 1801px 956px #FFF, 1050px 1449px #FFF, 1750px 1770px #FFF, 1120px 1438px #FFF, 1400px 1459px #FFF, 610px 1237px #FFF, 1801px 874px #FFF, 23px 1438px #FFF, 1840px 1623px #FFF, 1406px 1783px #FFF, 875px 1163px #FFF, 1214px 1142px #FFF, 49px 1850px #FFF, 803px 1826px #FFF, 1147px 1147px #FFF, 1045px 740px #FFF, 1391px 256px #FFF, 542px 1848px #FFF, 1417px 1380px #FFF, 75px 1749px #FFF, 1150px 361px #FFF, 350px 1581px #FFF, 185px 1925px #FFF, 1649px 1855px #FFF, 1405px 451px #FFF, 1766px 995px #FFF, 1557px 1499px #FFF, 1021px 408px #FFF, 1495px 1353px #FFF, 1517px 248px #FFF, 1637px 1076px #FFF, 237px 1503px #FFF, 604px 984px #FFF, 1613px 1550px #FFF, 425px 1089px #FFF, 1692px 1466px #FFF, 1346px 369px #FFF, 534px 1683px #FFF, 885px 925px #FFF, 1831px 1914px #FFF, 1057px 1951px #FFF, 1660px 1956px #FFF, 1896px 883px #FFF, 901px 1695px #FFF, 1469px 337px #FFF, 160px 1884px #FFF, 1250px 1308px #FFF, 1992px 389px #FFF, 1004px 336px #FFF, 867px 485px #FFF, 1715px 1021px #FFF, 1470px 339px #FFF, 1572px 311px #FFF, 852px 768px #FFF, 667px 212px #FFF, 99px 777px #FFF, 1324px 1281px #FFF, 436px 1297px #FFF, 817px 1932px #FFF, 1829px 734px #FFF, 704px 1159px #FFF, 581px 1885px #FFF, 626px 845px #FFF, 1094px 719px #FFF, 1957px 878px #FFF, 1969px 147px #FFF, 1px 1364px #FFF, 222px 594px #FFF, 1663px 522px #FFF, 283px 84px #FFF, 1495px 1882px #FFF, 1808px 1819px #FFF, 1005px 1158px #FFF, 53px 711px #FFF, 1718px 141px #FFF, 1912px 594px #FFF, 1186px 1802px #FFF, 676px 1203px #FFF, 65px 146px #FFF, 929px 159px #FFF, 1522px 152px #FFF, 338px 331px #FFF, 1768px 780px #FFF, 1209px 1926px #FFF, 1743px 1131px #FFF, 1077px 1608px #FFF, 558px 1158px #FFF, 1328px 1929px #FFF, 1955px 1349px #FFF, 1850px 1896px #FFF, 169px 1415px #FFF, 722px 767px #FFF, 1475px 284px #FFF, 266px 947px #FFF, 1288px 756px #FFF, 1026px 1135px #FFF, 1891px 524px #FFF, 80px 1450px #FFF, 1341px 1631px #FFF, 1249px 1057px #FFF, 269px 1512px #FFF, 1239px 1469px #FFF, 737px 621px #FFF, 1895px 1434px #FFF, 1804px 440px #FFF, 1883px 1423px #FFF, 16px 250px #FFF, 1217px 1751px #FFF, 264px 1657px #FFF, 1028px 1231px #FFF, 283px 1159px #FFF, 1377px 334px #FFF, 1988px 98px #FFF, 1808px 995px #FFF, 1190px 120px #FFF, 763px 1373px #FFF, 182px 821px #FFF, 1026px 1639px #FFF, 21px 707px #FFF, 1280px 1963px #FFF, 1134px 784px #FFF, 1082px 1250px #FFF, 184px 1579px #FFF, 1490px 1006px #FFF, 1530px 1158px #FFF, 1614px 1557px #FFF, 1965px 1650px #FFF, 1390px 1814px #FFF, 556px 1640px #FFF, 1329px 1987px #FFF, 1547px 1300px #FFF, 1093px 1668px #FFF, 1111px 1252px #FFF, 1306px 1691px #FFF, 52px 1063px #FFF, 1930px 589px #FFF, 1108px 857px #FFF, 1510px 1739px #FFF, 1919px 1818px #FFF, 1599px 709px #FFF, 206px 93px #FFF, 362px 1169px #FFF, 165px 1192px #FFF, 477px 2000px #FFF, 84px 415px #FFF, 515px 115px #FFF, 833px 1836px #FFF, 638px 943px #FFF, 1130px 388px #FFF, 737px 1358px #FFF, 1617px 465px #FFF, 702px 703px #FFF, 451px 909px #FFF, 940px 1118px #FFF, 642px 1974px #FFF, 1629px 1765px #FFF, 508px 521px #FFF, 212px 8px #FFF, 203px 581px #FFF, 1867px 896px #FFF, 883px 1052px #FFF, 627px 1998px #FFF, 759px 231px #FFF, 1590px 904px #FFF, 1375px 1188px #FFF, 1087px 404px #FFF, 891px 774px #FFF, 1777px 1275px #FFF, 1785px 1675px #FFF, 638px 21px #FFF, 802px 1401px #FFF, 510px 1016px #FFF, 507px 1885px #FFF, 906px 1618px #FFF, 1133px 1597px #FFF, 850px 85px #FFF, 862px 1448px #FFF, 238px 1516px #FFF, 510px 1874px #FFF, 1931px 707px #FFF, 1537px 886px #FFF, 1674px 1146px #FFF, 679px 545px #FFF, 1567px 573px #FFF, 269px 968px #FFF, 1753px 437px #FFF, 1487px 219px #FFF, 620px 451px #FFF, 163px 1123px #FFF, 14px 1064px #FFF, 470px 1591px #FFF, 1827px 900px #FFF, 976px 165px #FFF, 1930px 637px #FFF, 1027px 801px #FFF, 1680px 247px #FFF, 33px 723px #FFF, 735px 920px #FFF, 1204px 1635px #FFF, 1039px 1570px #FFF, 14px 526px #FFF, 1870px 785px #FFF, 641px 1008px #FFF, 1542px 1550px #FFF, 1387px 61px #FFF, 446px 1215px #FFF, 1566px 1831px #FFF, 1857px 1999px #FFF, 1219px 1719px #FFF, 1423px 1409px #FFF, 1385px 615px #FFF, 81px 941px #FFF, 1569px 253px #FFF, 1972px 1337px #FFF, 1322px 1203px #FFF, 1879px 1058px #FFF, 713px 216px #FFF, 1954px 1442px #FFF, 185px 826px #FFF, 1706px 1081px #FFF, 835px 967px #FFF, 761px 518px #FFF, 371px 1641px #FFF, 1414px 1969px #FFF, 427px 1805px #FFF, 1473px 1693px #FFF, 1078px 1776px #FFF, 1454px 1119px #FFF, 460px 1717px #FFF, 824px 1439px #FFF, 1043px 1470px #FFF, 156px 1619px #FFF, 1141px 640px #FFF, 1186px 1011px #FFF, 933px 1353px #FFF, 1272px 15px #FFF, 1563px 631px #FFF, 1476px 81px #FFF, 560px 315px #FFF, 1766px 1673px #FFF, 827px 1609px #FFF, 1891px 259px #FFF, 849px 557px #FFF, 265px 891px #FFF, 488px 1237px #FFF, 1703px 1482px #FFF, 1135px 1995px #FFF, 93px 434px #FFF, 121px 1599px #FFF, 461px 1414px #FFF, 1237px 453px #FFF, 1971px 1783px #FFF, 1919px 487px #FFF, 1368px 1495px #FFF, 214px 1939px #FFF, 982px 1728px #FFF, 601px 1742px #FFF, 674px 288px #FFF, 83px 1435px #FFF, 182px 1538px #FFF, 1665px 1199px #FFF, 1749px 369px #FFF, 808px 1893px #FFF, 1914px 86px #FFF, 1969px 1515px #FFF, 444px 1965px #FFF, 236px 1356px #FFF, 862px 418px #FFF, 1059px 1750px #FFF, 1331px 1028px #FFF, 197px 85px #FFF, 968px 1521px #FFF, 1427px 419px #FFF, 234px 275px #FFF, 42px 49px #FFF, 1307px 29px #FFF, 1289px 1962px #FFF, 1676px 897px #FFF, 779px 1088px #FFF, 1485px 1507px #FFF, 664px 520px #FFF, 628px 532px #FFF, 417px 1947px #FFF, 512px 1453px #FFF, 1917px 1181px #FFF, 407px 1934px #FFF, 1308px 1644px #FFF, 669px 1916px #FFF, 1749px 1442px #FFF, 246px 1449px #FFF, 1163px 1813px #FFF, 1578px 1061px #FFF, 1240px 202px #FFF, 923px 1403px #FFF, 1284px 792px #FFF, 1146px 625px #FFF, 1115px 795px #FFF, 1877px 805px #FFF, 409px 1691px #FFF, 1424px 629px #FFF, 145px 1000px #FFF, 1576px 253px #FFF, 78px 649px #FFF, 1115px 65px #FFF, 252px 1075px #FFF, 424px 1026px #FFF, 1613px 46px #FFF, 1830px 310px #FFF, 1036px 1538px #FFF, 1216px 787px #FFF, 746px 1467px #FFF, 598px 783px #FFF, 870px 1960px #FFF, 188px 4px #FFF, 1921px 1044px #FFF, 70px 648px #FFF, 74px 312px #FFF, 1926px 1461px #FFF, 410px 1111px #FFF, 1254px 1974px #FFF, 1913px 1117px #FFF, 1488px 1600px #FFF, 1997px 1794px #FFF, 1044px 1278px #FFF, 1362px 1216px #FFF, 1950px 1740px #FFF, 146px 1373px #FFF, 1815px 1080px #FFF, 1791px 706px #FFF, 1595px 1790px #FFF, 456px 884px #FFF, 450px 490px #FFF, 1348px 434px #FFF, 1743px 1927px #FFF, 1884px 562px #FFF, 1076px 1007px #FFF, 231px 1823px #FFF, 986px 1948px #FFF, 1789px 1522px #FFF, 1798px 140px #FFF, 1186px 1156px #FFF, 1245px 921px #FFF, 534px 1206px #FFF, 118px 1323px #FFF, 1739px 1806px #FFF, 200px 1625px #FFF, 1080px 914px #FFF, 1020px 780px #FFF, 1639px 926px #FFF, 1582px 112px #FFF, 341px 1095px #FFF, 8px 429px #FFF, 1887px 1218px #FFF, 1146px 1862px #FFF, 1793px 175px #FFF, 1182px 1253px #FFF, 81px 849px #FFF, 1423px 253px #FFF, 339px 280px #FFF, 263px 1042px #FFF, 1866px 109px #FFF, 1139px 1019px #FFF, 1175px 986px #FFF, 659px 1077px #FFF, 1058px 42px #FFF, 524px 1933px #FFF, 1975px 453px #FFF, 844px 1483px #FFF, 264px 351px #FFF, 934px 1701px #FFF, 249px 1435px #FFF, 1337px 81px #FFF, 1345px 1526px #FFF, 52px 1980px #FFF, 1805px 1517px #FFF, 634px 1350px #FFF, 751px 1176px #FFF, 677px 259px #FFF, 626px 594px #FFF, 1350px 1590px #FFF, 1124px 1508px #FFF, 1153px 1454px #FFF, 73px 623px #FFF, 1901px 1141px #FFF, 1848px 1252px #FFF, 1575px 1968px #FFF, 834px 1532px #FFF, 329px 781px #FFF, 1955px 661px #FFF, 48px 936px #FFF, 1968px 660px #FFF, 925px 457px #FFF, 1038px 260px #FFF, 1435px 658px #FFF, 334px 317px #FFF, 737px 224px #FFF, 1772px 1998px #FFF, 887px 1120px #FFF, 441px 1822px #FFF, 1721px 1908px #FFF, 1607px 844px #FFF, 44px 611px #FFF, 394px 890px #FFF, 967px 251px #FFF, 622px 381px #FFF, 34px 1052px #FFF, 1455px 342px #FFF, 125px 1680px #FFF, 1595px 40px #FFF, 829px 631px #FFF, 1476px 95px #FFF, 1016px 121px #FFF, 519px 1408px #FFF, 506px 1463px #FFF, 124px 450px #FFF, 1314px 547px #FFF, 122px 1928px #FFF, 1748px 773px #FFF, 1829px 1153px #FFF, 1082px 1753px #FFF, 856px 1148px #FFF, 617px 994px #FFF, 405px 1729px #FFF, 1336px 893px #FFF, 1732px 494px #FFF, 1245px 241px #FFF, 984px 1797px #FFF, 1137px 485px #FFF, 1636px 1186px #FFF, 698px 1768px #FFF, 236px 351px #FFF, 1947px 1623px #FFF, 932px 1586px #FFF, 145px 801px #FFF, 53px 126px #FFF, 138px 737px #FFF, 1671px 1102px #FFF, 1231px 842px #FFF, 174px 1285px #FFF, 1710px 118px #FFF, 854px 934px #FFF, 586px 1232px #FFF, 906px 610px #FFF, 658px 459px #FFF, 634px 1663px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  position: absolute;
  left: 0;
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 207px 927px #FFF, 414px 1123px #FFF, 520px 732px #FFF, 1445px 1704px #FFF, 1761px 486px #FFF, 1089px 294px #FFF, 31px 1053px #FFF, 1812px 241px #FFF, 349px 297px #FFF, 620px 642px #FFF, 28px 587px #FFF, 1621px 675px #FFF, 536px 1879px #FFF, 1686px 1553px #FFF, 1238px 1215px #FFF, 1024px 749px #FFF, 161px 691px #FFF, 28px 1239px #FFF, 238px 34px #FFF, 1929px 1496px #FFF, 401px 47px #FFF, 168px 567px #FFF, 885px 1119px #FFF, 1224px 1072px #FFF, 1474px 475px #FFF, 754px 1263px #FFF, 306px 980px #FFF, 669px 17px #FFF, 1138px 1879px #FFF, 1515px 1790px #FFF, 1062px 385px #FFF, 1031px 597px #FFF, 1388px 570px #FFF, 570px 1827px #FFF, 1987px 1736px #FFF, 1879px 543px #FFF, 1272px 425px #FFF, 765px 240px #FFF, 832px 1758px #FFF, 920px 845px #FFF, 901px 1632px #FFF, 1150px 1686px #FFF, 641px 505px #FFF, 1187px 314px #FFF, 418px 1487px #FFF, 1057px 549px #FFF, 615px 1px #FFF, 340px 1143px #FFF, 310px 1458px #FFF, 299px 625px #FFF, 999px 1307px #FFF, 1804px 1789px #FFF, 791px 213px #FFF, 1221px 1271px #FFF, 1279px 1464px #FFF, 32px 1352px #FFF, 532px 941px #FFF, 841px 543px #FFF, 1465px 890px #FFF, 437px 1296px #FFF, 403px 454px #FFF, 870px 1016px #FFF, 949px 359px #FFF, 566px 703px #FFF, 957px 948px #FFF, 1092px 1977px #FFF, 1704px 1444px #FFF, 1981px 1547px #FFF, 378px 53px #FFF, 1174px 588px #FFF, 15px 207px #FFF, 922px 1005px #FFF, 19px 230px #FFF, 1444px 325px #FFF, 1849px 755px #FFF, 449px 1855px #FFF, 1215px 1658px #FFF, 1262px 1039px #FFF, 419px 1897px #FFF, 652px 842px #FFF, 1331px 825px #FFF, 516px 1781px #FFF, 1401px 1692px #FFF, 840px 47px #FFF, 1187px 509px #FFF, 1822px 717px #FFF, 1490px 500px #FFF, 552px 1590px #FFF, 1439px 1250px #FFF, 484px 576px #FFF, 1107px 436px #FFF, 827px 900px #FFF, 419px 225px #FFF, 254px 366px #FFF, 424px 1054px #FFF, 240px 1042px #FFF, 1298px 96px #FFF, 1483px 1064px #FFF, 258px 1059px #FFF, 902px 1490px #FFF, 156px 1117px #FFF, 840px 1872px #FFF, 510px 1585px #FFF, 1251px 132px #FFF, 1562px 1588px #FFF, 1353px 1383px #FFF, 1050px 1339px #FFF, 1864px 339px #FFF, 1107px 895px #FFF, 193px 1273px #FFF, 1421px 1638px #FFF, 223px 30px #FFF, 637px 1424px #FFF, 1121px 172px #FFF, 1804px 916px #FFF, 1986px 602px #FFF, 1669px 1830px #FFF, 1951px 1889px #FFF, 626px 852px #FFF, 497px 1046px #FFF, 804px 1220px #FFF, 246px 1091px #FFF, 479px 539px #FFF, 1786px 1175px #FFF, 1031px 453px #FFF, 273px 796px #FFF, 1231px 461px #FFF, 684px 379px #FFF, 149px 724px #FFF, 589px 880px #FFF, 1642px 1028px #FFF, 1884px 755px #FFF, 21px 889px #FFF, 5px 882px #FFF, 153px 1004px #FFF, 264px 522px #FFF, 101px 1782px #FFF, 333px 1491px #FFF, 80px 967px #FFF, 1715px 12px #FFF, 78px 1073px #FFF, 1594px 1661px #FFF, 990px 575px #FFF, 360px 1752px #FFF, 713px 26px #FFF, 1008px 371px #FFF, 1437px 1489px #FFF, 179px 1132px #FFF, 396px 1222px #FFF, 192px 205px #FFF, 94px 598px #FFF, 1375px 1994px #FFF, 339px 660px #FFF, 60px 1207px #FFF, 1640px 1327px #FFF, 1774px 1126px #FFF, 482px 92px #FFF, 1346px 326px #FFF, 1708px 1918px #FFF, 337px 199px #FFF, 547px 1865px #FFF, 626px 1924px #FFF, 1087px 1541px #FFF, 1503px 823px #FFF, 1581px 1934px #FFF, 484px 1306px #FFF, 315px 1382px #FFF, 1995px 856px #FFF, 1485px 456px #FFF, 35px 1780px #FFF, 374px 1438px #FFF, 78px 1147px #FFF, 1854px 1706px #FFF, 1370px 119px #FFF, 690px 503px #FFF, 451px 964px #FFF, 519px 1384px #FFF, 109px 946px #FFF, 1824px 1591px #FFF, 1094px 1677px #FFF, 991px 1140px #FFF, 180px 547px #FFF, 1187px 1242px #FFF, 369px 1145px #FFF, 1989px 586px #FFF, 981px 1474px #FFF, 1068px 659px #FFF, 1245px 302px #FFF, 1993px 1783px #FFF, 706px 1516px #FFF, 938px 370px #FFF, 440px 910px #FFF, 1633px 1099px #FFF, 568px 1832px #FFF, 399px 1985px #FFF, 83px 897px #FFF, 1827px 1304px #FFF, 983px 1772px #FFF, 1611px 1900px #FFF, 1329px 323px #FFF, 172px 542px #FFF, 1568px 103px #FFF, 1576px 602px #FFF, 1960px 802px #FFF, 1756px 1535px #FFF, 1937px 471px #FFF, 1878px 1200px #FFF, 901px 226px #FFF, 995px 726px #FFF, 1400px 1452px #FFF, 991px 845px #FFF, 1593px 258px #FFF, 123px 1966px #FFF, 1372px 483px #FFF, 1663px 1772px #FFF, 1279px 1306px #FFF, 439px 842px #FFF, 1774px 225px #FFF, 873px 289px #FFF, 794px 1853px #FFF, 262px 645px #FFF, 598px 577px #FFF, 105px 369px #FFF, 1414px 1480px #FFF, 1444px 1476px #FFF, 1385px 1941px #FFF, 982px 1679px #FFF, 62px 1533px #FFF, 460px 1324px #FFF, 67px 767px #FFF, 1033px 1421px #FFF, 107px 1241px #FFF, 219px 252px #FFF, 1736px 1077px #FFF, 874px 1240px #FFF, 740px 204px #FFF, 777px 345px #FFF, 521px 450px #FFF, 434px 1318px #FFF, 748px 1901px #FFF, 304px 422px #FFF, 1516px 827px #FFF, 262px 829px #FFF, 168px 211px #FFF, 1870px 1125px #FFF, 100px 1117px #FFF, 100px 1228px #FFF, 1082px 1996px #FFF, 684px 443px #FFF, 475px 688px #FFF, 1441px 1271px #FFF, 117px 486px #FFF, 166px 27px #FFF, 52px 1568px #FFF, 1534px 1927px #FFF, 1801px 956px #FFF, 1050px 1449px #FFF, 1750px 1770px #FFF, 1120px 1438px #FFF, 1400px 1459px #FFF, 610px 1237px #FFF, 1801px 874px #FFF, 23px 1438px #FFF, 1840px 1623px #FFF, 1406px 1783px #FFF, 875px 1163px #FFF, 1214px 1142px #FFF, 49px 1850px #FFF, 803px 1826px #FFF, 1147px 1147px #FFF, 1045px 740px #FFF, 1391px 256px #FFF, 542px 1848px #FFF, 1417px 1380px #FFF, 75px 1749px #FFF, 1150px 361px #FFF, 350px 1581px #FFF, 185px 1925px #FFF, 1649px 1855px #FFF, 1405px 451px #FFF, 1766px 995px #FFF, 1557px 1499px #FFF, 1021px 408px #FFF, 1495px 1353px #FFF, 1517px 248px #FFF, 1637px 1076px #FFF, 237px 1503px #FFF, 604px 984px #FFF, 1613px 1550px #FFF, 425px 1089px #FFF, 1692px 1466px #FFF, 1346px 369px #FFF, 534px 1683px #FFF, 885px 925px #FFF, 1831px 1914px #FFF, 1057px 1951px #FFF, 1660px 1956px #FFF, 1896px 883px #FFF, 901px 1695px #FFF, 1469px 337px #FFF, 160px 1884px #FFF, 1250px 1308px #FFF, 1992px 389px #FFF, 1004px 336px #FFF, 867px 485px #FFF, 1715px 1021px #FFF, 1470px 339px #FFF, 1572px 311px #FFF, 852px 768px #FFF, 667px 212px #FFF, 99px 777px #FFF, 1324px 1281px #FFF, 436px 1297px #FFF, 817px 1932px #FFF, 1829px 734px #FFF, 704px 1159px #FFF, 581px 1885px #FFF, 626px 845px #FFF, 1094px 719px #FFF, 1957px 878px #FFF, 1969px 147px #FFF, 1px 1364px #FFF, 222px 594px #FFF, 1663px 522px #FFF, 283px 84px #FFF, 1495px 1882px #FFF, 1808px 1819px #FFF, 1005px 1158px #FFF, 53px 711px #FFF, 1718px 141px #FFF, 1912px 594px #FFF, 1186px 1802px #FFF, 676px 1203px #FFF, 65px 146px #FFF, 929px 159px #FFF, 1522px 152px #FFF, 338px 331px #FFF, 1768px 780px #FFF, 1209px 1926px #FFF, 1743px 1131px #FFF, 1077px 1608px #FFF, 558px 1158px #FFF, 1328px 1929px #FFF, 1955px 1349px #FFF, 1850px 1896px #FFF, 169px 1415px #FFF, 722px 767px #FFF, 1475px 284px #FFF, 266px 947px #FFF, 1288px 756px #FFF, 1026px 1135px #FFF, 1891px 524px #FFF, 80px 1450px #FFF, 1341px 1631px #FFF, 1249px 1057px #FFF, 269px 1512px #FFF, 1239px 1469px #FFF, 737px 621px #FFF, 1895px 1434px #FFF, 1804px 440px #FFF, 1883px 1423px #FFF, 16px 250px #FFF, 1217px 1751px #FFF, 264px 1657px #FFF, 1028px 1231px #FFF, 283px 1159px #FFF, 1377px 334px #FFF, 1988px 98px #FFF, 1808px 995px #FFF, 1190px 120px #FFF, 763px 1373px #FFF, 182px 821px #FFF, 1026px 1639px #FFF, 21px 707px #FFF, 1280px 1963px #FFF, 1134px 784px #FFF, 1082px 1250px #FFF, 184px 1579px #FFF, 1490px 1006px #FFF, 1530px 1158px #FFF, 1614px 1557px #FFF, 1965px 1650px #FFF, 1390px 1814px #FFF, 556px 1640px #FFF, 1329px 1987px #FFF, 1547px 1300px #FFF, 1093px 1668px #FFF, 1111px 1252px #FFF, 1306px 1691px #FFF, 52px 1063px #FFF, 1930px 589px #FFF, 1108px 857px #FFF, 1510px 1739px #FFF, 1919px 1818px #FFF, 1599px 709px #FFF, 206px 93px #FFF, 362px 1169px #FFF, 165px 1192px #FFF, 477px 2000px #FFF, 84px 415px #FFF, 515px 115px #FFF, 833px 1836px #FFF, 638px 943px #FFF, 1130px 388px #FFF, 737px 1358px #FFF, 1617px 465px #FFF, 702px 703px #FFF, 451px 909px #FFF, 940px 1118px #FFF, 642px 1974px #FFF, 1629px 1765px #FFF, 508px 521px #FFF, 212px 8px #FFF, 203px 581px #FFF, 1867px 896px #FFF, 883px 1052px #FFF, 627px 1998px #FFF, 759px 231px #FFF, 1590px 904px #FFF, 1375px 1188px #FFF, 1087px 404px #FFF, 891px 774px #FFF, 1777px 1275px #FFF, 1785px 1675px #FFF, 638px 21px #FFF, 802px 1401px #FFF, 510px 1016px #FFF, 507px 1885px #FFF, 906px 1618px #FFF, 1133px 1597px #FFF, 850px 85px #FFF, 862px 1448px #FFF, 238px 1516px #FFF, 510px 1874px #FFF, 1931px 707px #FFF, 1537px 886px #FFF, 1674px 1146px #FFF, 679px 545px #FFF, 1567px 573px #FFF, 269px 968px #FFF, 1753px 437px #FFF, 1487px 219px #FFF, 620px 451px #FFF, 163px 1123px #FFF, 14px 1064px #FFF, 470px 1591px #FFF, 1827px 900px #FFF, 976px 165px #FFF, 1930px 637px #FFF, 1027px 801px #FFF, 1680px 247px #FFF, 33px 723px #FFF, 735px 920px #FFF, 1204px 1635px #FFF, 1039px 1570px #FFF, 14px 526px #FFF, 1870px 785px #FFF, 641px 1008px #FFF, 1542px 1550px #FFF, 1387px 61px #FFF, 446px 1215px #FFF, 1566px 1831px #FFF, 1857px 1999px #FFF, 1219px 1719px #FFF, 1423px 1409px #FFF, 1385px 615px #FFF, 81px 941px #FFF, 1569px 253px #FFF, 1972px 1337px #FFF, 1322px 1203px #FFF, 1879px 1058px #FFF, 713px 216px #FFF, 1954px 1442px #FFF, 185px 826px #FFF, 1706px 1081px #FFF, 835px 967px #FFF, 761px 518px #FFF, 371px 1641px #FFF, 1414px 1969px #FFF, 427px 1805px #FFF, 1473px 1693px #FFF, 1078px 1776px #FFF, 1454px 1119px #FFF, 460px 1717px #FFF, 824px 1439px #FFF, 1043px 1470px #FFF, 156px 1619px #FFF, 1141px 640px #FFF, 1186px 1011px #FFF, 933px 1353px #FFF, 1272px 15px #FFF, 1563px 631px #FFF, 1476px 81px #FFF, 560px 315px #FFF, 1766px 1673px #FFF, 827px 1609px #FFF, 1891px 259px #FFF, 849px 557px #FFF, 265px 891px #FFF, 488px 1237px #FFF, 1703px 1482px #FFF, 1135px 1995px #FFF, 93px 434px #FFF, 121px 1599px #FFF, 461px 1414px #FFF, 1237px 453px #FFF, 1971px 1783px #FFF, 1919px 487px #FFF, 1368px 1495px #FFF, 214px 1939px #FFF, 982px 1728px #FFF, 601px 1742px #FFF, 674px 288px #FFF, 83px 1435px #FFF, 182px 1538px #FFF, 1665px 1199px #FFF, 1749px 369px #FFF, 808px 1893px #FFF, 1914px 86px #FFF, 1969px 1515px #FFF, 444px 1965px #FFF, 236px 1356px #FFF, 862px 418px #FFF, 1059px 1750px #FFF, 1331px 1028px #FFF, 197px 85px #FFF, 968px 1521px #FFF, 1427px 419px #FFF, 234px 275px #FFF, 42px 49px #FFF, 1307px 29px #FFF, 1289px 1962px #FFF, 1676px 897px #FFF, 779px 1088px #FFF, 1485px 1507px #FFF, 664px 520px #FFF, 628px 532px #FFF, 417px 1947px #FFF, 512px 1453px #FFF, 1917px 1181px #FFF, 407px 1934px #FFF, 1308px 1644px #FFF, 669px 1916px #FFF, 1749px 1442px #FFF, 246px 1449px #FFF, 1163px 1813px #FFF, 1578px 1061px #FFF, 1240px 202px #FFF, 923px 1403px #FFF, 1284px 792px #FFF, 1146px 625px #FFF, 1115px 795px #FFF, 1877px 805px #FFF, 409px 1691px #FFF, 1424px 629px #FFF, 145px 1000px #FFF, 1576px 253px #FFF, 78px 649px #FFF, 1115px 65px #FFF, 252px 1075px #FFF, 424px 1026px #FFF, 1613px 46px #FFF, 1830px 310px #FFF, 1036px 1538px #FFF, 1216px 787px #FFF, 746px 1467px #FFF, 598px 783px #FFF, 870px 1960px #FFF, 188px 4px #FFF, 1921px 1044px #FFF, 70px 648px #FFF, 74px 312px #FFF, 1926px 1461px #FFF, 410px 1111px #FFF, 1254px 1974px #FFF, 1913px 1117px #FFF, 1488px 1600px #FFF, 1997px 1794px #FFF, 1044px 1278px #FFF, 1362px 1216px #FFF, 1950px 1740px #FFF, 146px 1373px #FFF, 1815px 1080px #FFF, 1791px 706px #FFF, 1595px 1790px #FFF, 456px 884px #FFF, 450px 490px #FFF, 1348px 434px #FFF, 1743px 1927px #FFF, 1884px 562px #FFF, 1076px 1007px #FFF, 231px 1823px #FFF, 986px 1948px #FFF, 1789px 1522px #FFF, 1798px 140px #FFF, 1186px 1156px #FFF, 1245px 921px #FFF, 534px 1206px #FFF, 118px 1323px #FFF, 1739px 1806px #FFF, 200px 1625px #FFF, 1080px 914px #FFF, 1020px 780px #FFF, 1639px 926px #FFF, 1582px 112px #FFF, 341px 1095px #FFF, 8px 429px #FFF, 1887px 1218px #FFF, 1146px 1862px #FFF, 1793px 175px #FFF, 1182px 1253px #FFF, 81px 849px #FFF, 1423px 253px #FFF, 339px 280px #FFF, 263px 1042px #FFF, 1866px 109px #FFF, 1139px 1019px #FFF, 1175px 986px #FFF, 659px 1077px #FFF, 1058px 42px #FFF, 524px 1933px #FFF, 1975px 453px #FFF, 844px 1483px #FFF, 264px 351px #FFF, 934px 1701px #FFF, 249px 1435px #FFF, 1337px 81px #FFF, 1345px 1526px #FFF, 52px 1980px #FFF, 1805px 1517px #FFF, 634px 1350px #FFF, 751px 1176px #FFF, 677px 259px #FFF, 626px 594px #FFF, 1350px 1590px #FFF, 1124px 1508px #FFF, 1153px 1454px #FFF, 73px 623px #FFF, 1901px 1141px #FFF, 1848px 1252px #FFF, 1575px 1968px #FFF, 834px 1532px #FFF, 329px 781px #FFF, 1955px 661px #FFF, 48px 936px #FFF, 1968px 660px #FFF, 925px 457px #FFF, 1038px 260px #FFF, 1435px 658px #FFF, 334px 317px #FFF, 737px 224px #FFF, 1772px 1998px #FFF, 887px 1120px #FFF, 441px 1822px #FFF, 1721px 1908px #FFF, 1607px 844px #FFF, 44px 611px #FFF, 394px 890px #FFF, 967px 251px #FFF, 622px 381px #FFF, 34px 1052px #FFF, 1455px 342px #FFF, 125px 1680px #FFF, 1595px 40px #FFF, 829px 631px #FFF, 1476px 95px #FFF, 1016px 121px #FFF, 519px 1408px #FFF, 506px 1463px #FFF, 124px 450px #FFF, 1314px 547px #FFF, 122px 1928px #FFF, 1748px 773px #FFF, 1829px 1153px #FFF, 1082px 1753px #FFF, 856px 1148px #FFF, 617px 994px #FFF, 405px 1729px #FFF, 1336px 893px #FFF, 1732px 494px #FFF, 1245px 241px #FFF, 984px 1797px #FFF, 1137px 485px #FFF, 1636px 1186px #FFF, 698px 1768px #FFF, 236px 351px #FFF, 1947px 1623px #FFF, 932px 1586px #FFF, 145px 801px #FFF, 53px 126px #FFF, 138px 737px #FFF, 1671px 1102px #FFF, 1231px 842px #FFF, 174px 1285px #FFF, 1710px 118px #FFF, 854px 934px #FFF, 586px 1232px #FFF, 906px 610px #FFF, 658px 459px #FFF, 634px 1663px #FFF;
}

#stars2 {
  position: absolute;
  left: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1162px 840px #FFF, 705px 36px #FFF, 1566px 1902px #FFF, 1243px 485px #FFF, 146px 1839px #FFF, 926px 1820px #FFF, 266px 581px #FFF, 869px 215px #FFF, 983px 237px #FFF, 1497px 273px #FFF, 443px 988px #FFF, 186px 485px #FFF, 759px 762px #FFF, 671px 1341px #FFF, 1500px 667px #FFF, 989px 761px #FFF, 625px 1088px #FFF, 1943px 1272px #FFF, 519px 460px #FFF, 747px 266px #FFF, 174px 107px #FFF, 186px 609px #FFF, 1174px 978px #FFF, 1893px 840px #FFF, 238px 525px #FFF, 984px 301px #FFF, 1631px 483px #FFF, 1556px 1954px #FFF, 1782px 435px #FFF, 968px 767px #FFF, 796px 223px #FFF, 1938px 975px #FFF, 1804px 139px #FFF, 1106px 1006px #FFF, 1074px 1919px #FFF, 238px 1556px #FFF, 57px 540px #FFF, 53px 1964px #FFF, 75px 69px #FFF, 1873px 1489px #FFF, 529px 1530px #FFF, 1410px 1488px #FFF, 336px 272px #FFF, 1596px 923px #FFF, 1989px 443px #FFF, 726px 303px #FFF, 1257px 1902px #FFF, 1769px 1961px #FFF, 1564px 1771px #FFF, 31px 968px #FFF, 670px 1106px #FFF, 991px 823px #FFF, 199px 817px #FFF, 910px 1396px #FFF, 1153px 285px #FFF, 1417px 1781px #FFF, 450px 30px #FFF, 1108px 1127px #FFF, 1896px 432px #FFF, 551px 845px #FFF, 498px 573px #FFF, 302px 1925px #FFF, 1523px 546px #FFF, 1755px 1084px #FFF, 1192px 1872px #FFF, 1907px 998px #FFF, 1883px 1773px #FFF, 188px 1440px #FFF, 1296px 161px #FFF, 1199px 750px #FFF, 1016px 633px #FFF, 1896px 303px #FFF, 1498px 1493px #FFF, 1973px 1740px #FFF, 1305px 1011px #FFF, 23px 145px #FFF, 1999px 1715px #FFF, 189px 1549px #FFF, 458px 1282px #FFF, 1982px 1670px #FFF, 1095px 20px #FFF, 1593px 1412px #FFF, 1659px 397px #FFF, 1487px 1693px #FFF, 571px 1484px #FFF, 808px 1601px #FFF, 1988px 870px #FFF, 830px 1374px #FFF, 1405px 239px #FFF, 1205px 173px #FFF, 1691px 1349px #FFF, 1902px 87px #FFF, 666px 1758px #FFF, 1239px 1376px #FFF, 1780px 1811px #FFF, 158px 1694px #FFF, 1652px 196px #FFF, 851px 279px #FFF, 1173px 282px #FFF, 1620px 1416px #FFF, 106px 808px #FFF, 1636px 1027px #FFF, 1140px 1206px #FFF, 1379px 26px #FFF, 953px 1624px #FFF, 555px 1354px #FFF, 1749px 189px #FFF, 700px 601px #FFF, 1286px 779px #FFF, 1091px 1233px #FFF, 165px 701px #FFF, 1770px 719px #FFF, 1656px 903px #FFF, 1963px 662px #FFF, 1481px 1868px #FFF, 301px 1113px #FFF, 1958px 1805px #FFF, 548px 1447px #FFF, 1751px 504px #FFF, 404px 443px #FFF, 1404px 1202px #FFF, 1932px 279px #FFF, 276px 480px #FFF, 1593px 1321px #FFF, 1876px 361px #FFF, 101px 670px #FFF, 1855px 1833px #FFF, 1547px 1142px #FFF, 260px 1614px #FFF, 375px 960px #FFF, 653px 774px #FFF, 686px 103px #FFF, 1673px 1806px #FFF, 937px 1500px #FFF, 642px 947px #FFF, 1973px 1348px #FFF, 380px 596px #FFF, 1038px 1342px #FFF, 212px 1722px #FFF, 1770px 1151px #FFF, 688px 50px #FFF, 289px 44px #FFF, 1282px 445px #FFF, 792px 1491px #FFF, 1781px 1293px #FFF, 1647px 1060px #FFF, 1119px 1016px #FFF, 1772px 1316px #FFF, 1453px 543px #FFF, 725px 1358px #FFF, 877px 236px #FFF, 1373px 1180px #FFF, 195px 1350px #FFF, 186px 96px #FFF, 705px 1749px #FFF, 189px 332px #FFF, 904px 1440px #FFF, 1797px 1533px #FFF, 1929px 1301px #FFF, 1516px 764px #FFF, 86px 297px #FFF, 130px 1756px #FFF, 1193px 688px #FFF, 401px 170px #FFF, 1675px 1780px #FFF, 113px 1515px #FFF, 1146px 625px #FFF, 629px 265px #FFF, 627px 1462px #FFF, 341px 1372px #FFF, 860px 139px #FFF, 865px 664px #FFF, 1763px 1461px #FFF, 252px 1427px #FFF, 647px 490px #FFF, 322px 1991px #FFF, 824px 179px #FFF, 1765px 930px #FFF, 198px 205px #FFF, 1576px 136px #FFF, 388px 1747px #FFF, 509px 1558px #FFF, 844px 521px #FFF, 1967px 1233px #FFF, 1171px 252px #FFF, 1785px 1891px #FFF, 18px 1481px #FFF, 967px 499px #FFF, 321px 230px #FFF, 1790px 154px #FFF, 1687px 1139px #FFF, 1022px 1247px #FFF, 489px 372px #FFF, 937px 323px #FFF, 1602px 1207px #FFF, 202px 1593px #FFF, 493px 1608px #FFF, 114px 103px #FFF, 173px 214px #FFF, 1153px 752px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1162px 840px #FFF, 705px 36px #FFF, 1566px 1902px #FFF, 1243px 485px #FFF, 146px 1839px #FFF, 926px 1820px #FFF, 266px 581px #FFF, 869px 215px #FFF, 983px 237px #FFF, 1497px 273px #FFF, 443px 988px #FFF, 186px 485px #FFF, 759px 762px #FFF, 671px 1341px #FFF, 1500px 667px #FFF, 989px 761px #FFF, 625px 1088px #FFF, 1943px 1272px #FFF, 519px 460px #FFF, 747px 266px #FFF, 174px 107px #FFF, 186px 609px #FFF, 1174px 978px #FFF, 1893px 840px #FFF, 238px 525px #FFF, 984px 301px #FFF, 1631px 483px #FFF, 1556px 1954px #FFF, 1782px 435px #FFF, 968px 767px #FFF, 796px 223px #FFF, 1938px 975px #FFF, 1804px 139px #FFF, 1106px 1006px #FFF, 1074px 1919px #FFF, 238px 1556px #FFF, 57px 540px #FFF, 53px 1964px #FFF, 75px 69px #FFF, 1873px 1489px #FFF, 529px 1530px #FFF, 1410px 1488px #FFF, 336px 272px #FFF, 1596px 923px #FFF, 1989px 443px #FFF, 726px 303px #FFF, 1257px 1902px #FFF, 1769px 1961px #FFF, 1564px 1771px #FFF, 31px 968px #FFF, 670px 1106px #FFF, 991px 823px #FFF, 199px 817px #FFF, 910px 1396px #FFF, 1153px 285px #FFF, 1417px 1781px #FFF, 450px 30px #FFF, 1108px 1127px #FFF, 1896px 432px #FFF, 551px 845px #FFF, 498px 573px #FFF, 302px 1925px #FFF, 1523px 546px #FFF, 1755px 1084px #FFF, 1192px 1872px #FFF, 1907px 998px #FFF, 1883px 1773px #FFF, 188px 1440px #FFF, 1296px 161px #FFF, 1199px 750px #FFF, 1016px 633px #FFF, 1896px 303px #FFF, 1498px 1493px #FFF, 1973px 1740px #FFF, 1305px 1011px #FFF, 23px 145px #FFF, 1999px 1715px #FFF, 189px 1549px #FFF, 458px 1282px #FFF, 1982px 1670px #FFF, 1095px 20px #FFF, 1593px 1412px #FFF, 1659px 397px #FFF, 1487px 1693px #FFF, 571px 1484px #FFF, 808px 1601px #FFF, 1988px 870px #FFF, 830px 1374px #FFF, 1405px 239px #FFF, 1205px 173px #FFF, 1691px 1349px #FFF, 1902px 87px #FFF, 666px 1758px #FFF, 1239px 1376px #FFF, 1780px 1811px #FFF, 158px 1694px #FFF, 1652px 196px #FFF, 851px 279px #FFF, 1173px 282px #FFF, 1620px 1416px #FFF, 106px 808px #FFF, 1636px 1027px #FFF, 1140px 1206px #FFF, 1379px 26px #FFF, 953px 1624px #FFF, 555px 1354px #FFF, 1749px 189px #FFF, 700px 601px #FFF, 1286px 779px #FFF, 1091px 1233px #FFF, 165px 701px #FFF, 1770px 719px #FFF, 1656px 903px #FFF, 1963px 662px #FFF, 1481px 1868px #FFF, 301px 1113px #FFF, 1958px 1805px #FFF, 548px 1447px #FFF, 1751px 504px #FFF, 404px 443px #FFF, 1404px 1202px #FFF, 1932px 279px #FFF, 276px 480px #FFF, 1593px 1321px #FFF, 1876px 361px #FFF, 101px 670px #FFF, 1855px 1833px #FFF, 1547px 1142px #FFF, 260px 1614px #FFF, 375px 960px #FFF, 653px 774px #FFF, 686px 103px #FFF, 1673px 1806px #FFF, 937px 1500px #FFF, 642px 947px #FFF, 1973px 1348px #FFF, 380px 596px #FFF, 1038px 1342px #FFF, 212px 1722px #FFF, 1770px 1151px #FFF, 688px 50px #FFF, 289px 44px #FFF, 1282px 445px #FFF, 792px 1491px #FFF, 1781px 1293px #FFF, 1647px 1060px #FFF, 1119px 1016px #FFF, 1772px 1316px #FFF, 1453px 543px #FFF, 725px 1358px #FFF, 877px 236px #FFF, 1373px 1180px #FFF, 195px 1350px #FFF, 186px 96px #FFF, 705px 1749px #FFF, 189px 332px #FFF, 904px 1440px #FFF, 1797px 1533px #FFF, 1929px 1301px #FFF, 1516px 764px #FFF, 86px 297px #FFF, 130px 1756px #FFF, 1193px 688px #FFF, 401px 170px #FFF, 1675px 1780px #FFF, 113px 1515px #FFF, 1146px 625px #FFF, 629px 265px #FFF, 627px 1462px #FFF, 341px 1372px #FFF, 860px 139px #FFF, 865px 664px #FFF, 1763px 1461px #FFF, 252px 1427px #FFF, 647px 490px #FFF, 322px 1991px #FFF, 824px 179px #FFF, 1765px 930px #FFF, 198px 205px #FFF, 1576px 136px #FFF, 388px 1747px #FFF, 509px 1558px #FFF, 844px 521px #FFF, 1967px 1233px #FFF, 1171px 252px #FFF, 1785px 1891px #FFF, 18px 1481px #FFF, 967px 499px #FFF, 321px 230px #FFF, 1790px 154px #FFF, 1687px 1139px #FFF, 1022px 1247px #FFF, 489px 372px #FFF, 937px 323px #FFF, 1602px 1207px #FFF, 202px 1593px #FFF, 493px 1608px #FFF, 114px 103px #FFF, 173px 214px #FFF, 1153px 752px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1159px 362px #FFF, 1201px 447px #FFF, 90px 1848px #FFF, 69px 1546px #FFF, 1275px 916px #FFF, 1150px 547px #FFF, 231px 878px #FFF, 1076px 111px #FFF, 1395px 1204px #FFF, 1844px 381px #FFF, 1960px 1408px #FFF, 784px 901px #FFF, 1816px 1112px #FFF, 1203px 964px #FFF, 748px 1772px #FFF, 1759px 1067px #FFF, 240px 1470px #FFF, 43px 1508px #FFF, 1320px 1016px #FFF, 1840px 148px #FFF, 1404px 55px #FFF, 325px 434px #FFF, 852px 1378px #FFF, 1435px 1880px #FFF, 1940px 1351px #FFF, 979px 1008px #FFF, 1570px 1507px #FFF, 1133px 359px #FFF, 1316px 1660px #FFF, 1242px 155px #FFF, 41px 433px #FFF, 1160px 1939px #FFF, 1508px 1514px #FFF, 130px 710px #FFF, 22px 371px #FFF, 259px 635px #FFF, 409px 1154px #FFF, 1004px 952px #FFF, 512px 1809px #FFF, 940px 1719px #FFF, 537px 822px #FFF, 1236px 1595px #FFF, 892px 544px #FFF, 584px 1293px #FFF, 1400px 506px #FFF, 577px 1831px #FFF, 586px 6px #FFF, 1858px 434px #FFF, 240px 425px #FFF, 1185px 1703px #FFF, 1862px 96px #FFF, 1501px 709px #FFF, 1533px 1176px #FFF, 1617px 1409px #FFF, 1895px 1819px #FFF, 1346px 285px #FFF, 88px 1478px #FFF, 161px 1630px #FFF, 532px 1265px #FFF, 1450px 1907px #FFF, 1573px 362px #FFF, 1329px 1818px #FFF, 901px 1228px #FFF, 1429px 471px #FFF, 24px 874px #FFF, 1983px 949px #FFF, 1779px 167px #FFF, 356px 1848px #FFF, 1055px 310px #FFF, 71px 1052px #FFF, 445px 363px #FFF, 472px 682px #FFF, 1966px 142px #FFF, 1743px 1657px #FFF, 758px 1576px #FFF, 257px 642px #FFF, 1725px 353px #FFF, 2px 356px #FFF, 1470px 1895px #FFF, 1246px 1991px #FFF, 378px 1px #FFF, 693px 1635px #FFF, 1723px 396px #FFF, 1763px 1091px #FFF, 1384px 1938px #FFF, 545px 673px #FFF, 1601px 475px #FFF, 445px 527px #FFF, 1457px 1594px #FFF, 1865px 1067px #FFF, 1928px 1309px #FFF, 1645px 1492px #FFF, 1728px 814px #FFF, 1174px 1300px #FFF, 949px 769px #FFF, 977px 1818px #FFF, 705px 303px #FFF, 396px 197px #FFF, 1201px 117px #FFF, 525px 868px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1159px 362px #FFF, 1201px 447px #FFF, 90px 1848px #FFF, 69px 1546px #FFF, 1275px 916px #FFF, 1150px 547px #FFF, 231px 878px #FFF, 1076px 111px #FFF, 1395px 1204px #FFF, 1844px 381px #FFF, 1960px 1408px #FFF, 784px 901px #FFF, 1816px 1112px #FFF, 1203px 964px #FFF, 748px 1772px #FFF, 1759px 1067px #FFF, 240px 1470px #FFF, 43px 1508px #FFF, 1320px 1016px #FFF, 1840px 148px #FFF, 1404px 55px #FFF, 325px 434px #FFF, 852px 1378px #FFF, 1435px 1880px #FFF, 1940px 1351px #FFF, 979px 1008px #FFF, 1570px 1507px #FFF, 1133px 359px #FFF, 1316px 1660px #FFF, 1242px 155px #FFF, 41px 433px #FFF, 1160px 1939px #FFF, 1508px 1514px #FFF, 130px 710px #FFF, 22px 371px #FFF, 259px 635px #FFF, 409px 1154px #FFF, 1004px 952px #FFF, 512px 1809px #FFF, 940px 1719px #FFF, 537px 822px #FFF, 1236px 1595px #FFF, 892px 544px #FFF, 584px 1293px #FFF, 1400px 506px #FFF, 577px 1831px #FFF, 586px 6px #FFF, 1858px 434px #FFF, 240px 425px #FFF, 1185px 1703px #FFF, 1862px 96px #FFF, 1501px 709px #FFF, 1533px 1176px #FFF, 1617px 1409px #FFF, 1895px 1819px #FFF, 1346px 285px #FFF, 88px 1478px #FFF, 161px 1630px #FFF, 532px 1265px #FFF, 1450px 1907px #FFF, 1573px 362px #FFF, 1329px 1818px #FFF, 901px 1228px #FFF, 1429px 471px #FFF, 24px 874px #FFF, 1983px 949px #FFF, 1779px 167px #FFF, 356px 1848px #FFF, 1055px 310px #FFF, 71px 1052px #FFF, 445px 363px #FFF, 472px 682px #FFF, 1966px 142px #FFF, 1743px 1657px #FFF, 758px 1576px #FFF, 257px 642px #FFF, 1725px 353px #FFF, 2px 356px #FFF, 1470px 1895px #FFF, 1246px 1991px #FFF, 378px 1px #FFF, 693px 1635px #FFF, 1723px 396px #FFF, 1763px 1091px #FFF, 1384px 1938px #FFF, 545px 673px #FFF, 1601px 475px #FFF, 445px 527px #FFF, 1457px 1594px #FFF, 1865px 1067px #FFF, 1928px 1309px #FFF, 1645px 1492px #FFF, 1728px 814px #FFF, 1174px 1300px #FFF, 949px 769px #FFF, 977px 1818px #FFF, 705px 303px #FFF, 396px 197px #FFF, 1201px 117px #FFF, 525px 868px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}