@media (max-width: 1200px) {}

@media (max-width: 1024px) {
  .ytplayer-container {
    display: none !important;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .sw-why {
    padding: 30px 0 10px 0;
  }
  .sw-why__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .sw-why__card {
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .sw-why__cards {
    justify-content: space-around;
  }
  .sw-how {
    padding: 0;
  }
  .sw-how__block {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .sw-step {
    padding: 30px 0 40px 0;
  }
  .sw-step__cards {
    align-items: center;
  }
  .sw-step__card {
    margin-bottom: 85px;
  }
  .sw-step__cards:before {
    display: none;
  }
  .sw-step:after {
    width: 240px;
    margin-left: -120px;
    height: 50px;
  }
  .sw-step__card_after_1:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-step__card_after_3:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-step__card_after_5:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-step__card_after_7:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-step__card_before_2:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-step__card_before_4:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-step__card_before_6:after {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .sw-about {
    padding: 30px 0 40px 0;
  }
  .sw-about__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .sw-bottom {
    height: auto;
    min-height: 100vh;
    padding: 30px 0;
    overflow: visible;
  }
  .sw-bottom__title {
    font-size: 26px;
  }
  .sw-footer {
    position: relative;
    text-align: center;
    &>.container {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .sw-footer__info {
    margin-top: 20px;
    text-align: center;
  }
  .sw-top {
    height: auto;
    padding-bottom: 70px;
  }
  .sw-top__title {
    font-size: 38px;
  }
  .sw-header {
    position: relative;
  }
  .sw-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .sw-header {
    padding: 20px 0;
  }
  .sw-header__info {
    text-align: center;
    p {
      display: none;
    }
  }
  .sw-header__logo {
    margin-bottom: 20px;
  }
}